svg#tetris {
  background-color: #ddd;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  
}

body{
	margin: 0 auto;
}

#tetrisContainer{
	padding: 20px 0 0 0;
	width: 500px;
    margin: 0 auto;
}

#tetrisC{
	float: left;
}
#rightBox{
	float: left;
	width: 200px;
}
#scoreBox, #levelBox{
	padding: 15px 5px 0 20px;
	font-size: 1.2em;
}